@import url( 'https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-height: 500px;
  color: #6A7989;
}

textarea {
  width: 500px;
  height: 500px;
  padding: 15px;
  font-size: 24px;
  box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.64);
}

div {
  width: 500px;
  height: 500px;
  padding: 15px;
  font-size: 24px;
  background: #D0D6D6;
  box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.64);
}
